## Data Merging and Cleaning

This file assembles two "master" dataframes for experimentation. The first dataframe contains every crime throughout each day, with associated daily weather information. The second dataframe contains the number of arrests each day with associated mean weather information.

In [1]:
import pandas as pd

### Arrest Data

In [2]:
nypd_historic = pd.read_csv('./input/NYPD_Arrests_Data__Historic_.csv')
nypd_historic.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat
0,32311380,06/18/2007,511.0,"CONTROLLED SUBSTANCE, POSSESSION 7",235.0,DANGEROUS DRUGS,PL 2200300,M,Q,27,1.0,18-24,M,BLACK,NaN,NaN,NaN,NaN,NaN
1,192799737,01/26/2019,177.0,SEXUAL ABUSE,116.0,SEX CRIMES,PL 1306503,F,M,25,0.0,45-64,M,BLACK,1000555.0,230994.0,40.800694,-73.941109,POINT (-73.94110928599997 40.800694331000045)
2,193260691,02/06/2019,NaN,NaN,NaN,NaN,PL 2203400,F,M,14,0.0,25-44,M,UNKNOWN,986685.0,215375.0,40.757839,-73.991212,POINT (-73.99121211099998 40.75783900300007)
3,149117452,01/06/2016,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,K,67,0.0,25-44,M,BLACK,998032.0,175598.0,40.648650,-73.950336,POINT (-73.95033556299995 40.648650085000035)
4,190049060,11/15/2018,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,77,0.0,25-44,M,BLACK,1003606.0,185050.0,40.674583,-73.930222,POINT (-73.93022154099998 40.67458330800008)

In [3]:
nypd_historic.describe()

,ARREST_KEY,PD_CD,KY_CD,ARREST_PRECINCT,JURISDICTION_CODE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
count,5.153369e+06,5.153085e+06,5.144303e+06,5.153369e+06,5.153359e+06,5.153368e+06,5.153368e+06,5.153368e+06,5.153368e+06
mean,9.902988e+07,5.087614e+02,2.999840e+02,6.069877e+01,1.307094e+00,1.005366e+06,2.147808e+05,4.075598e+01,-7.392374e+01
std,5.502693e+07,2.641654e+02,1.811907e+02,3.432236e+01,9.458264e+00,2.004221e+04,1.626909e+05,4.397976e-01,7.233297e-02
min,9.926901e+06,0.000000e+00,1.010000e+02,1.000000e+00,0.000000e+00,9.133570e+05,1.211310e+05,4.049891e+01,-7.425494e+01
25%,6.018168e+07,2.690000e+02,1.260000e+02,3.300000e+01,0.000000e+00,9.933470e+05,1.868570e+05,4.067952e+01,-7.396719e+01
50%,8.449976e+07,5.110000e+02,3.410000e+02,6.000000e+01,0.000000e+00,1.004904e+06,2.093910e+05,4.074138e+01,-7.392544e+01
75%,1.463814e+08,7.480000e+02,3.480000e+02,8.400000e+01,0.000000e+00,1.015896e+06,2.366140e+05,4.081609e+01,-7.388567e+01
max,2.225006e+08,9.970000e+02,9.950000e+02,1.230000e+02,9.700000e+01,1.067302e+06,8.202360e+06,6.208307e+01,-7.368178e+01

In [4]:
nypd_current = pd.read_csv('./input/NYPD_Arrest_Data__Year_to_Date_.csv')
nypd_current.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,234233843,09/29/2021,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,B,42,0,25-44,M,BLACK,1009231,240290,40.826189,-73.909738,POINT (-73.90973778899996 40.82618898100003)
1,234129823,09/27/2021,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,77,0,25-44,M,BLACK,1003606,185050,40.674583,-73.930222,POINT (-73.93022154099998 40.67458330800008)
2,234040747,09/25/2021,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200501,F,Q,101,0,25-44,M,BLACK,1049232,159210,40.603441,-73.765986,POINT (-73.76598558899997 40.60344094100003)
3,234047720,09/25/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,44,0,25-44,M,BLACK,1006537,244511,40.837782,-73.919458,POINT (-73.91945797099999 40.83778161800007)
4,234042526,09/25/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,44,0,25-44,M,BLACK,1007418,243859,40.835990,-73.916276,POINT (-73.91627635999998 40.83598980000005)

In [5]:
nypd_current.describe()

,ARREST_KEY,PD_CD,KY_CD,ARREST_PRECINCT,JURISDICTION_CODE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
count,1.152990e+05,115278.000000,115238.000000,115299.000000,115299.000000,1.152990e+05,115299.000000,115299.000000,115299.000000
mean,2.284194e+08,409.904422,245.079948,63.141320,0.926903,1.005121e+06,208091.168267,40.737796,-73.924662
std,3.485580e+06,276.987780,150.869676,35.104046,7.999952,2.159742e+04,30062.684808,0.082520,0.077886
min,2.224711e+08,0.000000,101.000000,1.000000,0.000000,9.142140e+05,121312.000000,40.499401,-74.251844
25%,2.253156e+08,113.000000,112.000000,34.000000,0.000000,9.914950e+05,185569.000000,40.675976,-73.973875
50%,2.285064e+08,339.000000,235.000000,62.000000,0.000000,1.004448e+06,206766.000000,40.734144,-73.927136
75%,2.314991e+08,705.000000,344.000000,101.000000,0.000000,1.017119e+06,235993.000000,40.814415,-73.881512
max,2.343530e+08,997.000000,995.000000,123.000000,97.000000,1.066556e+06,271820.000000,40.912723,-73.703000

In [6]:
len(nypd_current['ARREST_DATE'].unique()) + len(nypd_historic['ARREST_DATE'].unique())

5752

In [7]:
nypd = nypd_current.append(nypd_historic)
nypd.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column,Lon_Lat
0,234233843,09/29/2021,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,B,42,0.0,25-44,M,BLACK,1009231.0,240290.0,40.826189,-73.909738,POINT (-73.90973778899996 40.82618898100003),NaN
1,234129823,09/27/2021,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,77,0.0,25-44,M,BLACK,1003606.0,185050.0,40.674583,-73.930222,POINT (-73.93022154099998 40.67458330800008),NaN
2,234040747,09/25/2021,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200501,F,Q,101,0.0,25-44,M,BLACK,1049232.0,159210.0,40.603441,-73.765986,POINT (-73.76598558899997 40.60344094100003),NaN
3,234047720,09/25/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,44,0.0,25-44,M,BLACK,1006537.0,244511.0,40.837782,-73.919458,POINT (-73.91945797099999 40.83778161800007),NaN
4,234042526,09/25/2021,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,B,44,0.0,25-44,M,BLACK,1007418.0,243859.0,40.835990,-73.916276,POINT (-73.91627635999998 40.83598980000005),NaN

In [8]:
def format_date_nypd(date):
    split = date.split('/')
    return split[2] + split[1] + split[0]

In [9]:
nypd['date'] = nypd['ARREST_DATE'].apply(format_date_nypd)
nypd_sum = nypd.groupby(['date']).sum()
nypd_sum.head()

,ARREST_KEY,PD_CD,KY_CD,ARREST_PRECINCT,JURISDICTION_CODE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
date,,,,,,,,,
20060101,5472220823,290620.0,168291.0,34537,512.0,5.541908e+08,115910360.0,22449.964789,-40731.159217
20060102,13916769371,704511.0,405495.0,79708,3438.0,1.362037e+09,292834659.0,55229.410638,-100167.534762
20060103,14489446039,724636.0,429505.0,82155,3503.0,1.382633e+09,291219648.0,56028.458148,-101644.263177
20060104,10988393136,527538.0,308753.0,62362,1641.0,1.018791e+09,211863762.0,41310.488920,-74961.056401
20060105,10128114281,462684.0,289134.0,56711,1696.0,9.141467e+08,190319437.0,37074.023113,-67273.292109

### Weather Data
#### Hourly weather

In [10]:
weath = pd.read_csv('./input/daily_new_york_data.csv')
weath = weath[['dt', 'temp', 'feels_like', 'temp_min', 'temp_max', 
               'humidity', 'wind_speed', 'wind_deg', 'rain_1h', 
               'rain_3h', 'snow_1h', 'snow_3h', 'clouds_all']]
weath.head()

,dt,temp,feels_like,temp_min,temp_max,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all
0,1199145600,39.58,37.49,35.92,40.98,59,3.36,260,NaN,NaN,NaN,NaN,1
1,1199149200,39.63,37.54,35.94,40.98,58,3.36,260,NaN,NaN,NaN,NaN,1
2,1199152800,39.54,37.44,33.06,40.98,59,3.36,270,NaN,NaN,NaN,NaN,1
3,1199156400,39.31,37.17,30.90,39.90,60,3.36,0,NaN,NaN,NaN,NaN,1
4,1199160000,38.46,38.46,35.02,38.53,59,0.00,0,NaN,NaN,NaN,NaN,1

In [11]:
weath.dtypes

dt              int64
temp          float64
feels_like    float64
temp_min      float64
temp_max      float64
humidity        int64
wind_speed    float64
wind_deg        int64
rain_1h       float64
rain_3h       float64
snow_1h       float64
snow_3h       float64
clouds_all      int64
dtype: object

In [12]:
from datetime import datetime
from pytz import timezone # for timezone awareness

def format_date_weath(dt):
    localtz = timezone('America/New_York')
    dt_unaware = datetime.fromtimestamp(dt)
    dt_aware = localtz.localize(dt_unaware, is_dst=None)
    return datetime.utcfromtimestamp(dt_aware).strftime('%Y%m%d')

In [13]:
weath['date'] = weath['dt'].apply(lambda dt: datetime.utcfromtimestamp(dt).strftime('%Y%m%d'))
weath.head()

,dt,temp,feels_like,temp_min,temp_max,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,date
0,1199145600,39.58,37.49,35.92,40.98,59,3.36,260,NaN,NaN,NaN,NaN,1,20080101
1,1199149200,39.63,37.54,35.94,40.98,58,3.36,260,NaN,NaN,NaN,NaN,1,20080101
2,1199152800,39.54,37.44,33.06,40.98,59,3.36,270,NaN,NaN,NaN,NaN,1,20080101
3,1199156400,39.31,37.17,30.90,39.90,60,3.36,0,NaN,NaN,NaN,NaN,1,20080101
4,1199160000,38.46,38.46,35.02,38.53,59,0.00,0,NaN,NaN,NaN,NaN,1,20080101

In [14]:
weath_mean = weath
weath_mean[['rain_1h', 'rain_3h', 'snow_1h', 'snow_3h']] = weath_mean[['rain_1h', 'rain_3h', 'snow_1h', 'snow_3h']].fillna(value=0)
weath_mean = weath.groupby(['date']).agg({'temp':'mean', 'feels_like':'mean', 
                                        'temp_min': 'min', 'temp_max': 'max',
                                        'humidity': 'mean', 'wind_speed': 'mean',
                                        'wind_deg': 'mean', 'rain_1h': 'mean',
                                        'rain_3h': 'mean', 'snow_1h': 'mean',
                                        'snow_3h': 'mean', 'clouds_all': 'mean'})
weath_mean['date'] = weath_mean.index
weath_mean.head()

,temp,feels_like,temp_min,temp_max,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,date
date,,,,,,,,,,,,,
20080101,42.489600,39.665600,28.02,48.90,65.840000,5.076000,95.600000,0.188,0.0,0.0,0.0,45.040000,20080101
20080102,34.361250,27.293333,24.06,42.96,47.875000,8.909583,207.083333,0.000,0.0,0.0,0.0,63.125000,20080102
20080103,17.996667,8.123750,12.52,26.29,41.708333,8.099167,177.916667,0.000,0.0,0.0,0.0,1.000000,20080103
20080104,24.470833,19.424583,15.04,37.45,41.833333,4.754583,84.166667,0.000,0.0,0.0,0.0,20.750000,20080104
20080105,36.474167,33.406250,21.90,43.48,42.375000,3.655417,115.416667,0.000,0.0,0.0,0.0,5.708333,20080105

In [15]:
weath_mean.dtypes

temp          float64
feels_like    float64
temp_min      float64
temp_max      float64
humidity      float64
wind_speed    float64
wind_deg      float64
rain_1h       float64
rain_3h       float64
snow_1h       float64
snow_3h       float64
clouds_all    float64
date           object
dtype: object

### Daily crimes: each crime with weather data

This dataframe contains more detail, including each arrest's description and location in the city, by borough. This dataset may or may not be used, depending if we have time to do extra fancy visualizations. Otherwise, the next dataframe showing daily summaries are what we'll focus on first.

In [16]:
daily_nypd = nypd.set_index(['date'])
daily_crimes = pd.merge(left=daily_nypd, right=weath_mean, how='inner', left_index=True, right_index=True)
daily_crimes = daily_crimes[['PD_DESC', 'OFNS_DESC', 'ARREST_BORO', 'temp', 
                             'feels_like', 'temp_min', 'temp_max', 'humidity', 
                             'wind_speed', 'wind_deg', 'rain_1h', 'rain_3h', 
                             'snow_1h', 'snow_3h']]
daily_crimes.rename(columns={'PD_DESC': 'pd_desc', 'OFNS_DESC': 'ofns_desc', 
                             'ARREST_BORO': 'arrest_boro'}, inplace=True)

daily_crimes.head()

,pd_desc,ofns_desc,arrest_boro,temp,feels_like,temp_min,temp_max,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h
date,,,,,,,,,,,,,,
20080101,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,K,42.4896,39.6656,28.02,48.9,65.84,5.076,95.6,0.188,0.0,0.0,0.0
20080101,"ASSAULT 2,1,UNCLASSIFIED",FELONY ASSAULT,K,42.4896,39.6656,28.02,48.9,65.84,5.076,95.6,0.188,0.0,0.0,0.0
20080101,RAPE 1,RAPE,K,42.4896,39.6656,28.02,48.9,65.84,5.076,95.6,0.188,0.0,0.0,0.0
20080101,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,B,42.4896,39.6656,28.02,48.9,65.84,5.076,95.6,0.188,0.0,0.0,0.0
20080101,"MENACING,UNCLASSIFIED",ASSAULT 3 & RELATED OFFENSES,M,42.4896,39.6656,28.02,48.9,65.84,5.076,95.6,0.188,0.0,0.0,0.0

In [17]:
daily_crimes.dtypes

pd_desc         object
ofns_desc       object
arrest_boro     object
temp           float64
feels_like     float64
temp_min       float64
temp_max       float64
humidity       float64
wind_speed     float64
wind_deg       float64
rain_1h        float64
rain_3h        float64
snow_1h        float64
snow_3h        float64
dtype: object

In [18]:
len(daily_crimes)

1819947

In [19]:
def get_borough(b):
    if b == 'B':
        return 'The Bronx'
    elif b == 'K':
        return 'Brooklyn'
    elif b == 'M':
        return 'Manhattan'
    else:
        return 'Queens'

In [20]:
daily_crimes['pd_desc'] = daily_crimes['pd_desc'].str.capitalize()
daily_crimes['ofns_desc'] = daily_crimes['ofns_desc'].str.capitalize()
daily_crimes['arrest_boro'] = daily_crimes['arrest_boro'].apply(get_borough)
daily_crimes.head()

,pd_desc,ofns_desc,arrest_boro,temp,feels_like,temp_min,temp_max,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h
date,,,,,,,,,,,,,,
20080101,Assault 3,Assault 3 & related offenses,Brooklyn,42.4896,39.6656,28.02,48.9,65.84,5.076,95.6,0.188,0.0,0.0,0.0
20080101,"Assault 2,1,unclassified",Felony assault,Brooklyn,42.4896,39.6656,28.02,48.9,65.84,5.076,95.6,0.188,0.0,0.0,0.0
20080101,Rape 1,Rape,Brooklyn,42.4896,39.6656,28.02,48.9,65.84,5.076,95.6,0.188,0.0,0.0,0.0
20080101,Assault 3,Assault 3 & related offenses,The Bronx,42.4896,39.6656,28.02,48.9,65.84,5.076,95.6,0.188,0.0,0.0,0.0
20080101,"Menacing,unclassified",Assault 3 & related offenses,Manhattan,42.4896,39.6656,28.02,48.9,65.84,5.076,95.6,0.188,0.0,0.0,0.0

### Daily means: day's arrest count and weather means

This dataframe will likely be our primary dataset, since it's giving us a day-by-day arrest count with the mean weather conditions for that day.

In [21]:
daily_mean = daily_crimes.groupby(['date']).count()
daily_mean.drop(columns=['ofns_desc', 'arrest_boro'], inplace=True)
daily_mean.rename(columns={'pd_desc': 'num_arrests'}, inplace=True)
daily_mean = daily_mean[['num_arrests']]
daily_mean = pd.merge(left=daily_mean, right=weath_mean, how='outer', left_index=True, right_index=True)
daily_mean.head()

,num_arrests,temp,feels_like,temp_min,temp_max,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,date
date,,,,,,,,,,,,,,
20080101,769.0,42.489600,39.665600,28.02,48.90,65.840000,5.076000,95.600000,0.188,0.0,0.0,0.0,45.040000,20080101
20080102,1146.0,34.361250,27.293333,24.06,42.96,47.875000,8.909583,207.083333,0.000,0.0,0.0,0.0,63.125000,20080102
20080103,1128.0,17.996667,8.123750,12.52,26.29,41.708333,8.099167,177.916667,0.000,0.0,0.0,0.0,1.000000,20080103
20080104,1276.0,24.470833,19.424583,15.04,37.45,41.833333,4.754583,84.166667,0.000,0.0,0.0,0.0,20.750000,20080104
20080105,1317.0,36.474167,33.406250,21.90,43.48,42.375000,3.655417,115.416667,0.000,0.0,0.0,0.0,5.708333,20080105

In [22]:
daily_mean.dtypes

num_arrests    float64
temp           float64
feels_like     float64
temp_min       float64
temp_max       float64
humidity       float64
wind_speed     float64
wind_deg       float64
rain_1h        float64
rain_3h        float64
snow_1h        float64
snow_3h        float64
clouds_all     float64
date            object
dtype: object

In [23]:
len(daily_mean)

5071