In [4]:
import pandas as pd

df = pd.read_csv('./output/daily_arrests.csv')

In [5]:
df

,date,num_arrests,temp,feels_like,temp_min,temp_max,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,date.1
0,20071231,28,39.304000,37.620000,30.90,40.98,59.000000,2.688000,158.000000,0.000000,0.000000,0.0,0.0,1.000000,20071231
1,20080101,71,42.812400,39.316400,28.02,48.90,63.200000,6.104000,94.400000,0.188000,0.000000,0.0,0.0,62.840000,20080101
2,20080102,42,30.120417,22.015833,17.04,39.43,47.291667,9.142917,227.916667,0.000000,0.000000,0.0,0.0,44.583333,20080102
3,20080103,46,17.566667,8.943750,12.52,21.90,41.375000,6.813333,125.416667,0.000000,0.000000,0.0,0.0,1.000000,20080103
4,20080104,58,28.156250,23.277917,15.04,37.45,40.416667,4.996667,94.166667,0.000000,0.000000,0.0,0.0,25.458333,20080104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5018,20210926,44,67.324167,66.377917,58.37,75.22,55.791667,7.880833,163.916667,0.000000,0.000000,0.0,0.0,9.708333,20210926
5019,20210927,67,70.214167,69.423750,57.11,82.36,52.041667,11.122917,252.083333,0.000000,0.000000,0.0,0.0,18.333333,20210927
5020,20210928,74,68.759583,68.697917,61.14,75.16,71.541667,6.042917,166.250000,0.130417,0.010417,0.0,0.0,40.625000,20210928
5021,20210929,87,62.493750,60.975833,51.39,70.97,53.875000,7.267917,180.166667,0.000000,0.000000,0.0,0.0,35.875000,20210929
5022,20210930,69,62.163750,60.727083,55.15,68.97,56.333333,3.375833,42.375000,0.000000,0.000000,0.0,0.0,70.083333,20210930